<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Video url:</b>
	<%= video_tag @contact.video_url, :size => "480x360", :controls => true, :autoplay => true %>
	
  <%= @contact.video_url %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
